{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Evidencija studenata</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('studenti') }}>Studenti</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href={{ url_for('predmeti') }}>Predmeti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('korisnici') }}>Korisnici</a>
            </li>
        </ul>
        <form class="form-inline">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </form>
    </div>
</nav>

<div class="container">

    <div class="row my-5 justify-content-end">
        <a href={{ url_for('predmet_novi') }} role="button" class="btn btn-primary">Dodaj predmet</a>
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sifra</th>
                    <th scope="col">Naziv</th>
                    <th scope="col">Godina studija</th>
                    <th scope="col">ESPB</th>
                    <th scope="col">Obavezni / Izborni</th>
                    <th scope="col">Akcije</th>
                </tr>
            </thead>
            <tbody>
                {% for predmet in predmeti %}
                <tr>
                    <td>{{predmet.sifra}}</td>
                    <td>{{predmet.naziv}}</td>
                    <td>{{predmet.godina_studija}}</td>
                    <td>{{predmet.espb}}</td>
                    <td>{{predmet.obavezni_izborni}}</td>
                    <td class="row">
                        <a href={{ url_for('predmet_izmena', id=predmet.id) }} role="button"
                            class="icon-btn orange mx-1"><i class="fas fa-edit"></i></a>
                        <form action={{ url_for('predmet_brisanje', id=predmet.id) }} method="GET" class="mx-1">
                            <button class="icon-btn red"><i class="fas fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}