{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Evidencija studenata</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href={{ url_for('studenti') }}>Studenti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('predmeti') }}>Predmeti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('korisnici') }}>Korisnici</a>
            </li>
        </ul>
        <form class="form-inline">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="my-5">Novi student</h2>
            <form action={{ url_for('student_novi') }} method="POST">
                <div class="form-group">
                    <label for="broj_indeksa">Broj indeksa</label>
                    <input type="text" class="form-control" id="broj_indeksa" name="broj_indeksa">
                </div>
                <div class="form-group">
                    <label for="ime">Ime</label>
                    <input type="text" class="form-control" id="ime" name="ime">
                </div>
                <div class="form-group">
                    <label for="ime_roditelja">Ime roditelja</label>
                    <input type="text" class="form-control" id="ime_roditelja" name="ime_roditelja">
                </div>
                <div class="form-group">
                    <label for="prezime">Prezime</label>
                    <input type="text" class="form-control" id="prezime" name="prezime">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="broj_telefona">Broj telefona</label>
                    <input type="text" class="form-control" id="broj_telefona" name="broj_telefona">
                </div>
                <div class="form-group">
                    <label for="godina_studija">Godina studija</label>
                    <input type="number" class="form-control" id="godina_studija" name="godina_studija">
                </div>
                <div class="form-group">
                    <label for="datum_rodjenja">Datum rodjenja</label>
                    <input type="date" class="form-control" id="datum_rodjenja" name="datum_rodjenja">
                </div>
                <div class="form-group">
                    <label for="jmbg">JMBG</label>
                    <input type="number" class="form-control" id="jmbg" name="jmbg">
                </div>
                <button type="submit" class="btn btn-primary">Sacuvaj</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}